---
title: "How we iterated and improved our frontend team culture"
author: Clement Ho
author_gitlab: ClemMakesApps
author_twitter: Clemmakesapps
categories: culture
image_title: '/images/blogimages/improving-frontend-team-culture.jpg'
description: "A recent internal survey revealed that the frontend team culture needed some improvements. Here are some noteworthy steps we took."
ee_cta: false
---

In Feburary, the [results of GitLab's first anonymous engineering engagement survey were announced][survey-results-announced].
The purpose of this survey was to understand the culture of the teams and the organization as a whole, and to identify areas of improvement (if any).

Through this engagement survey, it was identified that out of all the engineering teams, members of the frontend team felt the least favorable about being safe to share their opinions.

![frontend-survey-culture-image][frontend-survey-culture-image]{: .shadow.medium.center}
*<small>Only 58.3 percent of the frontend team felt safe to express their opinions</small>*

# Steps taken to improve our frontend team culture

Since the results were published, we've taken multiple iterative steps to improve our culture. Below are a few noteworthy steps we thought were insightful to share with the community.

## 1. Monthly themed frontend calls

As a remote company, it tends to be difficult to have casual conversations with your coworkers.
Although at GitLab we have our [team calls][team-call], interactions between frontend team members seemed to always be work related.
Last year, I had the opportunity to visit my former frontend lead, [Jacob Schatz][jacob-schatz], in person and it made an impact on our relationship because it created a space for us to chat casually about non-work topics.
These casual conversations created a foundation for me to feel comfortable giving constructive feedback because I understood him on a personal level.
GitLab has regular [summits][summits] for team members to meet face to face, so perhaps we need to be more intentional about that time during our next summit, but it wouldn't be ideal for the team to wait until then to take steps to improve our culture.

As a means to bridge casual conversations within the frontend team, [monthly themed frontend calls][issue-monthly-frontend-calls] was created. Before this, the frontend team would have a weekly 30-minute call to discuss new technologies or to share new information with the team. Since discussions about frontend technologies can get highly opinionated (just ask a group of frontend engineers what framework to use), our calls tend to lean more on the serious note.

To lighten the mood and encourage some non-work-related conversation, every first call of the month, a theme is chosen by the winner of the previous month and each team member is encouraged to share something in line with the theme. After all the team members share their story about their theme, we all vote to see who wins that month.

![themed-call][themed-call]{: .shadow.medium.center}
*<small>Our first themed frontend call – most interesting hat (check out the [handbook][theme-call-handbook] to see who won)</small>*

## 2. Frontend calendar

Since our team ships code fast, one of the challenges noticed was that frontend team members can often feel left out of decisions. Sometimes frontend-related meetings take place on demand (whenever the respective parties are online) that feels excluding to other team members (who may have good insights to contribute to the discussion). As a result, we created a [shared frontend calendar][calendar-handbook] as a means of unifying and including team members on frontend-related discussions.

One of the early successes of this calendar was a meeting that discussed the "Overview of frontend tests at GitLab." This was a session about testing that was created since we had a few new hires at the time who wanted to learn, but the existing frontend documentation wasn't adequate. After the session, we added improvements to the documentation. Due to the open nature of this calendar, we also fostered open collaboration with other engineering teams as [Mek Stittri][mek] (Engineering Manager of the Quality team) joined that session because he was new to GitLab and had prior experience in JavaScript testing.

## 3. #frontend_maintainers Slack channel

Another challenge our frontend team encountered was that sometimes maintainers' code review feedback would contradict one another. It seemed to be because sometimes information about a best practice wasn't communicated well within the group of maintainers. As a result, we created a #frontend_maintainers slack channel to create a space for frontend maintainers to share knowledge, ask questions and get on the same page about what code should be merged into the codebase.

![frontend-maintainers-channel][frontend-maintainers-channel]{: .shadow.medium.center}

# Results

Although there won't be another engineering survey until later this year to accurately measure whether these steps made an impact, I've personally seen the frontend team culture grow positively over the last few months. One of the biggest examples of improvement was the recent [Content Hack Day][hack-day]. Since the beginning of this year, the content team hosts these days to encourage team members to write blog posts for the company. There are always great prizes, but one to mention is the [team prize][team-prize] – the team that contributes the most blog posts wins an evangelism dinner for each member of the team (company reimburses up to $100 USD for a meal).

Leading up to the Content Hack Day, I learned that this iteration of the event required teams to have at least 50 percent participation (jump on the open Zoom call, write blog posts, contribute blog post ideas... etc.) to qualify for the team prize. Since our team was 16 people at the time, it seemed pretty tough to get eight team members to participate. I announced the Hack Day on the frontend team call and that led to [Lukas Eipert][lukas] creating a private Slack channel (#content-hack-fe) for the frontend team to brainstorm ideas before the day, so that we could have the best chance of winning the team prize.

To my surprise, on the actual day, the frontend team had a 68.7 percent participation rate and eight blog posts. This is especially encouraging for the frontend team culture because the event took place on a public holiday for several team members which, statistically speaking, should have decreased our participation.

Overall, it's been amazing to see the culture shift since the beginning of the year. There are probably still many steps we can take to get better, but I am confident that if the team continues at its current trajectory, the frontend team culture will soon become the example for other teams to learn from about how to foster a postive culture.

Cover image: [Photo][unsplash-photo] by [Kimson Doan][unsplash-author] on [Unsplash][unsplash]
{: .note}

[survey-results-announced]: https://youtu.be/BNwx-QslzjI?t=3m33s
[jacob-schatz]: /team/#jakecodes
[team-call]: /handbook/communication/#team-call
[summits]: /culture/summits/
[issue-monthly-frontend-calls]: https://gitlab.com/gitlab-com/organization/issues/149
[theme-call-handbook]: /handbook/frontend/#frontend-team-calls
[calendar-handbook]: /handbook/frontend/#frontend-calendar
[mek]: /team/#mekdev
[team-prize]: /handbook/marketing/marketing-sales-development/content/content-hack-day/#incentives-and-rewards
[lukas]: /team/#leipert_io
[frontend-survey-culture-image]: /images/frontend_culture/engineering-survey-culture.png
[themed-call]: /images/frontend_culture/themed-call.png
[frontend-maintainers-channel]: /images/frontend_culture/frontend-maintainers-channel.png
[hack-day]: /handbook/marketing/marketing-sales-development/content/content-hack-day/
[unsplash-photo]: https://unsplash.com/photos/AZMmUy2qL6A
[unsplash-author]: https://unsplash.com/@doanstopexploring
[unsplash]: https://unsplash.com/
