---
layout: default
title: ProSiebenSat1 + GitLab Meetup
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Learn how GitLab moves fast by shipping minimum viable change 
        %h2.page-subtitle Meetup brought to you by GitLab + ProSiebenSat.1

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 July 12th, 18.30-21.00
            %p Join our Frontend Engineer Tim Zallmann to learn more about how we move fast by shipping the minimum viable change and Gerald Madlmayr talking about how ProSiebenSat.1 is using GitLab.com as a development hub for its business applications.
            %br

            %h3 Topics include:
            %ul
              %li How we move fast by shipping the minimum viable change
              %li How ProSiebenSat.1 is using about.gitlab.com as a development hub for its business applications

              
            %p Space is limited. Registration is free but please register to hold your spot.
              
        .col-md-4.col-md-offset-1
          %h2 Register for the event:
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1591
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1591, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional event details.
